# Ignore all raw, baseline, compiled data files, and scratch/tools directories
data/
**/data/
scratch/
**/scratch/
tools/
**/data/raw_cache/
**/data/processed/
**/data/baseline/
**/data/**/*.CSV
**/data/**/*.csv
**/data/**/*.feather
**/data/**/*.zip
**/data/**/*.parquet

# Python temporary files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# OS specific files
.DS_Store
Thumbs.db
